<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">


    <!-- 邮件发送器 -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${mail.send.host}" />
        <property name="username" value="${mail.send.username}" />
        <property name="password" value="${mail.send.password}" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <!-- gmail smtp server必须参数 -->
                <prop key="mail.smtp.starttls.enable">true</prop>
            </props>
        </property>
    </bean>

    <!-- 邮件服务类 -->
    <bean id="MailService" class="com.blossom.common.util.email.MailService">
        <property name="mailSender" ref="mailSender"/>
        <property name="configuration" ref="freemarkerConfiguration"></property>
        <property name="ENCODING" value="utf-8"/>
    </bean>

    <!-- 用于生成HTML邮件内容的Freemarker配置 -->
    <bean id="freemarkerConfiguration" class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
        <!-- <property name="templateLoaderPath" value="classpath:/freemarker-template" /> -->
        <property name="templateLoaderPath" value="/WEB-INF/freemarker-template"/>
    </bean>
    <!-- end 邮件发送板块 -->

    <bean id="serviceLocator" class="com.mobile.framework.util.ServiceLocator"  lazy-init="false"/>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <description>事务管理器</description>
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="transactionProxyBean" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" abstract="true">
        <description>事务代理工程bean</description>
        <property name="transactionManager" ref="transactionManager" />
        <property name="proxyTargetClass" value="false" />
        <property name="transactionAttributes">
            <props>
                <prop key="*">PROPAGATION_REQUIRED,-Exception</prop>
            </props>
        </property>
    </bean>

    <bean id="supervisorTransactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <description>事务管理器</description>
        <property name="sessionFactory" ref="supervisorSessionFactory" />
    </bean>

    <bean id="supervisorTransactionProxyBean" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" abstract="true">
        <description>事务代理工程bean</description>
        <property name="transactionManager" ref="supervisorTransactionManager" />
        <property name="proxyTargetClass" value="false" />
        <property name="transactionAttributes">
            <props>
                <prop key="*">PROPAGATION_REQUIRED,-Exception</prop>
            </props>
        </property>
    </bean>

    <bean id="salaryTransactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <description>事务管理器</description>
        <property name="sessionFactory" ref="salarySessionFactory" />
    </bean>

    <bean id="salaryTransactionProxyBean" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" abstract="true">
        <description>事务代理工程bean</description>
        <property name="transactionManager" ref="salaryTransactionManager" />
        <property name="proxyTargetClass" value="false" />
        <property name="transactionAttributes">
            <props>
                <prop key="*">PROPAGATION_REQUIRED,-Exception</prop>
            </props>
        </property>
    </bean>

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <!-- dubboInit -->
    <bean id="dubboInit" class="com.blossom.ap.DubboInit" />

    <!-- 数据库连接数采集Begin -->
    <bean id="connectNumQuartz" name="connectNumQuartz"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetBeanName">
            <value>connectNumManager</value>
        </property>
        <property name="targetMethod">
            <value>getConnectNum</value>
        </property>
    </bean>

    <bean id="connectNumTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <description>连接数采集</description>
        <property name="jobDetail">
            <ref bean="connectNumQuartz"/>
        </property>
        <property name="cronExpression">
            <value>0 0/1 * * * ?</value>
        </property>
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref local="connectNumTrigger"/>
            </list>
        </property>
    </bean>

    <bean id="connectNumManager" class="com.test">
    </bean>
    <!-- 数据库连接数采集End -->

    <!-- 2015-01-27 add rztDb begin -->
    <bean id="rztTransactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <description>事务管理器</description>
        <property name="sessionFactory" ref="rztSessionFactory" />
    </bean>

    <bean id="rztTransactionProxyBean" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" abstract="true">
        <description>事务代理工程bean</description>
        <property name="transactionManager" ref="rztTransactionManager" />
        <property name="proxyTargetClass" value="false" />
        <property name="transactionAttributes">
            <props>
                <prop key="ntDo*">PROPAGATION_REQUIRES_NEW,-Exception</prop>
                <prop key="*">PROPAGATION_REQUIRED,-Exception</prop>
            </props>
        </property>
    </bean>

    <bean id="jdbcTemplateRzt" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSourceRzt"/>
    </bean>
    <!-- 2015-01-27 add rztDb end -->
</beans>
